In [99]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report
from sklearn.metrics import f1_score

In [100]:
df = pd.read_csv("prediksi-nilai.csv", sep=';')

In [101]:
df

    UTS  UAS  Harian Huruf
0    37    8      72     E
1     0    0       0     E
2    17   18     103     C
3     7    0     109     D
4    27   35     128     B
5    78   24      99     B
6    27   22     104     C
7    15   18     108     C
8    35    8      88     D
9    65   30     130     A
10   75   41      98     B
11   17   26      89     D
12   55   25     110     B
13   65   35     130     A
14   17   39      65     E
15   20   27      97     C
16   70   52     154     A
17   45   38     120     B
18   58   17     100     C
19   25   51      93     C
20    0    0      10     E
21   29   24      72     D
22   16   33      94     C
23   30   18     109     C
24   85   49      82     B
25   20   23      99     C
26   52   15      84     D
27    0    0       0     E
28   20   15      52     E
29   30   18      89     D
30   32   17      85     D
31   20   23      97     C
32    0    4      17     E
33   80   42     134     A
34    5   12      25     E
35    0    4      68     E
36   51   52     112     B

In [102]:
x_train = df.drop(["Huruf"], axis = 1)
x_train.head()

   UTS  UAS  Harian
0   37    8      72
1    0    0       0
2   17   18     103
3    7    0     109
4   27   35     128

In [103]:
y_train = df["Huruf"]
y_train.head()

0    E
1    E
2    C
3    D
4    B
Name: Huruf, dtype: object

In [104]:
df1 = pd.read_csv("prediksi.csv", sep=';')

In [105]:
df1

   UTS  UAS  Harian  Huruf
0    4   40     100    NaN

In [106]:
x_test = df1.drop(["Huruf"], axis = 1)
x_test.head()

   UTS  UAS  Harian
0    4   40     100

In [107]:
y_test = df1["Huruf"]
y_test.head()

0   NaN
Name: Huruf, dtype: float64

In [108]:
nb = GaussianNB()

In [109]:
nb_train = nb.fit(x_train, y_train)

In [110]:
y_pred = nb_train.predict(x_test)
y_pred

array(['C'], dtype='<U1')

In [111]:
y_test = y_pred
np.array(y_test)

array(['C'], dtype='<U1')

In [112]:
nb_train.predict_proba(x_test)

array([[4.01738523e-28, 2.97018116e-02, 9.60907033e-01, 5.81077082e-03,
        3.58038410e-03]])

In [116]:
confusion_matrix(y_test, y_pred)

array([[1]], dtype=int64)

In [117]:
f1_score(y_test, y_pred, labels=np.unique(y_pred), average='weighted')

1.0

In [114]:
classification_report(y_test, y_pred)

'              precision    recall  f1-score   support\n\n           C       1.00      1.00      1.00         1\n\n    accuracy                           1.00         1\n   macro avg       1.00      1.00      1.00         1\nweighted avg       1.00      1.00      1.00         1\n'